@font-face {
  font-family: "Noto Serif";
  src: url("./NotoSerif-VariableFont_wdth,wght.ttf") format("truetype");
  font-display: block;
}

@font-face {
  font-family: "Noto Serif";
  src: url("./NotoSerif-Italic-VariableFont_wdth,wght.ttf") format("truetype");
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: "STIX Two Text";
  src: url("./STIXTwoText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: "STIX Two Text";
  src: url("./STIXTwoText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: block;
}

@font-face {
  font-family: "Libre Franklin";
  src: url("./LibreFranklin-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: block;
}

@font-face {
  font-family: "Libre Franklin";
  src: url("./LibreFranklin-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: block;
}

@font-face {
  font-family: "Alfa Slab One";
  src: url("./AlfaSlabOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: block;
}
