@font-face {
  font-family: "Noto Serif";
  src: url("./NotoSerif-VariableFont_wdth,wght.ttf") format("truetype");
  font-display: block;
}

@font-face {
  font-family: "Noto Serif";
  src: url("./NotoSerif-Italic-VariableFont_wdth,wght.ttf") format("truetype");
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: "STIX Two Text";
  src: url("./STIXTwoText-VariableFont_wght.ttf") format("truetype");
  font-display: block;
}

@font-face {
  font-family: "Libre Franklin";
  src: url("./LibreFranklin-VariableFont_wght.ttf") format("truetype");
  font-display: block;
}
